# See https://help.github.com/articles/ignoring-files for more about ignoring files.

/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/.keep
/storage/*
!/storage/.keep
/public/assets
.byebug_history
/config/master.key
/config/credentials/*.key
.env
.env.*
/node_modules
/vendor/bundle
